
/************************************
*            General Styles         *
************************************/
p.heading-text { /* Heading text within Overlay Panels */
	margin: 10px 10px 10px;
	font-size: 45px;
	font-family: fantasy;
}
.button-text { /* Text to be displayed within form buttons */
	font-size: 20px;
	display: block;
}
.centered-block {/* Class for vertically centering a div */
	margin-top: 25%;
	margin-bottom: 25%;
	height: 50%;
}

 #navbar-button{
 top: 6px;
 height: 40px;
 position: fixed; 
 width: 40px;
 right: 30%;
 cursor: pointer;
 }

/************************************
*     Side Panel General Styling    *
************************************/
.overlay {
  position: fixed;
  top: 9%;
  right: 1%;
  height: 90%;
  width: 30%;
  z-index: 10;
  background-color: white;
}
.overlay img { /* Centering Images in Overlay Panels */
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.overlay .button-large { /* Form Buttons in Overlay Panels */
	margin-right: 30%;
	margin-left: 30%;
	width: 40%;
	height: 20%;
	border: 1px solid #088A01;
}
.overlay .form-control { /* Form Entries in Overlay Panels */
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	border: 1px solid #088A01;
}
.overlay button { /* Form Buttons in Overlay Panels */
	margin-right: 30%;
	margin-left: 30%;
	width: 40%;
	border: 1px solid #088A01;
	margin-top:5px;
	margin-bottom:5px;
}
div#collapse-panel-button { /* "Collapse Panel" button tab */
	border-top-left-radius: 4px;
	background: url("../images/arrow-right.png");
	background-size: 100%;
	border: 1px solid #000;
	border-bottom-left-radius: 4px;
	position: fixed;
	width: 20px;
	top: 15%;
	right: 31%;
	height: 24px;
	z-index:19;
}

/************************************
*     Land-Info Side Panel          *
************************************/
  .boxmain {
  top: 11%;
  right: 2%;
  width: 28%;
  height: 45%;
  background-color: green;
  border: solid 1px black;
  box-shadow: 0px 0px 0px 0px black;
  z-index: 15;
  position: fixed;
  }

  .boxright {
  top: 58%;
  right: 2%;
  width: 8%;
  height: 16%;
  background-color: green;
  border: solid 1px black;
  box-shadow: 0px 0px 0px 0px black;
  z-index: 15;
  position: fixed;
  }

  .boxmid {
  top: 58%;
  right: 11%;
  width: 8%;
  height: 16%;
  background-color: green;
  border: solid 1px black;
  box-shadow: 0px 0px 0px 0px black;
  z-index: 15;
  position: fixed;
  }

  .boxleft {
  top: 58%;
  right: 20%;
  width: 10%;
  height: 16%;
  background-color: green;
  border: solid 1px black;
  box-shadow: 0px 0px 0px 0px black;
  z-index: 15;
  position: fixed;
  }

  .boxlowleft {
  top: 76%;
  right: 16.5%;
  width: 13.5%;
  height: 20%;
  background-color: green;
  border: solid 1px black;
  box-shadow: 0px 0px 0px 0px black;
  z-index: 15;
  position: fixed;
  }

  .boxlowright {
  top: 76%;
  right: 2%;
  width: 13.5%;
  height: 20%;
  background-color: green;
  border: solid 1px black;
  box-shadow: 0px 0px 0px 0px black;
  z-index: 15;
  position: fixed;
  }


/************************************
*      Grid-Dropdown + Buttons      *
************************************/
div#grid-menu-popup {
	display: none;
}
.gridnav {
  border-radius: 10px;
  top: 9%;
  right: 15%;
  width: 30%;
  height: 30%;
  background-color: white;
  border: solid 1px black;
  z-index: 20;
  position: fixed;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 6%;
  right: 30%;
  height: 5%;
  width: 3%;
  z-index: 25;
  position: fixed;
}
.grid-nav-button {
  top: 20%;
  width: 15%;
  height: 80px;
  background-color: gray;
  border-radius: 50px;
  border: solid 1px black;
  z-index: 21;
  position: absolute;
  box-shadow: 2px 2px 0px 0px #444;
}
#iconland{
  right: 77%;
  background-color: green;
}
#icongear{
  right: 54%;
}
#iconcnct{
  right: 31%;
}
#iconhelp{
  right: 8%;
}

/************************************
*        Main Navbar Buttons        *
************************************/
.top-nav-button {
 top: 8px;
 height: 35px;
 width: 35px;
 position: fixed; 
 z-index: 25
}
#grid-navbar-button{
  right: 70px;
}
.grid-button-active { /* Highlighting Grid Button when Grid is Active */
	box-shadow: 0px 0px 12px #000;
}
.grid-button-inactive {
	box-shadow: none;
}
#profilepic{
 border-radius: 50px;
 right: 15px;
 background-color: gray;
 border: solid 1px black;
z-index: 25;
cursor: pointer;
}
#alertbut{
 border-radius: 50px;
 border: solid 1px black;
 z-index: 25;
 cursor: pointer;
 right: 125px;
}
ul#nav-button-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#nav-button-list li{
	display: inline;
}
#navbar-logo {
  height: 200%;
  position: relative;
  bottom: 40%;
  left: 0%;
  vertical-align: 20%;
  z-index: 7;
}

.contact{
  position: fixed;
  top: 8%;
  right: 0%;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: gray;
}

.profilepage {
  position: fixed;
  top: 8%;
  right: 0%;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: #D3D3D3;
}

.whiteback {
  position: fixed;
  top: 13%;
  height: 82%;
  width: 70%;
  right: 5%;
  z-index: 10;
  background-color: white;
}

.buttondrop {
  position: fixed;
  vertical-align: top;
  top: 13%;
  height: 82%;
  width: 20%;
  right: 75%;
  z-index: 10;
  background-color: white;
  border-right: solid 1px gray;
}

.buttontab1{
  position: fixed;
  height: 8%;
  width: 20%;
  z-index: 10;
  background-color: white;
  border-right: solid 1px gray;
}

.buttontab2{
  position: fixed;
  top: 20%;
  height: 8%;
  width: 20%;
  z-index: 10;
  background-color: white;
  border-right: solid 1px gray;
}
.buttontab3{
  position: fixed;
  top: 27%;
  height: 8%;
  width: 20%;
  z-index: 10;
  background-color: white;
  border-right: solid 1px gray;
}
.buttontab4{
  position: fixed;
  top: 34%;
  height: 8%;
  width: 20%;
  z-index: 10;
  background-color: white;
  border-right: solid 1px gray;
}




